#header {
text-align: center;
margin-top: 50px;
margin-bottom: 150px;
font-size: 50px;
font-weight: bolder;
}

#submit-list {
    text-align: center;
    margin-bottom: 50px;
}

#do-title {
    text-align: center;
    font-size : 30px;
    font-weight: bolder;
}

#list {
    text-align: center;
    font-size: 15px;
}

#del-button {
    margin-left: 10px;
}